.dimension{
    width: 600px;
    height:420px;
    background-color: rgb(140, 224, 224);
    margin: 3px 
    
}

body{
    background-color:rgb(141, 137, 137);
    background-image: url("brick.jpg")
    
} 

.text{
    font-size: 25px;
    color: rgb(160, 44, 160);
    background-color: gainsboro
}

button {
    min-width: 100px;
    max-width: 100px;
}

h1{
    color: rgb(109, 197, 106);
   
    
}
 .jumbotron{
      background-color: rgb(79, 121, 160)
 }

 span{
     color: purple
 }